body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status-box {
  width:100%;
}

.status {
  width: 100%;
  margin-bottom: 10px;
  border-bottom: 5px solid blueviolet;
}

.status h1 {
  font-size: 50px;
  position: relative;
  left: 50%;
}

.game
.square {
  background: #fff;
  border: 3px solid rgba(160, 39, 39, 0.233);
  float: left;
  font-size: 54px;
  font-weight: bold;
  line-height: 100px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
  position: relative;
  top: 50%;
  left: 50%;
}

.square:hover {
  cursor: pointer;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}